* {
  font-family: "Open Sans Condensed", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
header {
  background-image: url("../img/image/Header-Image.png");
  background-color: #5d706d;
  /* background-position: left 50%; */
  /* width: 100%;
  height: 50%;
  display: flex; */
  /* background-clip: text;
  color: transparent; */
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top-title {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 40%;
  width: 100%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-shadow: 1px 1px 2px #505050;
}
.top-title-font {
  font-family: "Caveat", cursive;
  font-family: "Open Sans Condensed", sans-serif;
}
.mode {
  position: absolute;
  top: 10%;
  left: 10%;
  display: flex;
}
.mode:hover {
  color: #07bb0d;
  transition: 0.3s;
}
a {
  /* font-weight: bolder; */
  color: aliceblue;
}
a:hover {
  color: #07bb0d;
  transition: 0.3s;
}
.top-menu {
  position: absolute;
  top: 60%;
  left: 5%;
  display: flex;
}

.top-menu-style {
  padding-left: 10px;
  font-weight: bolder;
  color: aliceblue;
  margin: auto;
}

.top-menu-style:hover {
  color: #07bb0d;
  transition: 0.3s;
  cursor: pointer;
}

/* ###############strategy################ */
.strategy {
  display: block;
}
.section-strategy {
  background-image: url("../img/image/white_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px;
  background-color: #2888e2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
/* top title */
.strategy-title {
  text-align: center;
  padding-top: 30px;
  color: black;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #505050;
}
.row-flex {
  display: flex;
  flex-direction: row;
  height: 80%;
}
.strategy-select-box {
  padding-top: 20px;
  padding-left: 70px;
  /* text-align: center; */
  width: 40%;
}

.strategy-image {
  width: 60%;
  text-align: center;
  margin-top: 80px;
}
.strategy-text {
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 1px 1px 2px #505050;
}
/* ####################strategy result#################### */
.section-chart {
  background-image: url("../img/image/lines.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 500px;
  background-color: #0d2841;
  background-position: center;
  background-repeat: no-repeat;
}

.chart-title {
  text-align: center;
  padding-top: 20px;
  color: rgb(9, 9, 9);
  font-size: 30px;
  font-weight: bolder;
  text-shadow: 1px 1px 2px #505050;
}

/* ####################footer#################### */
footer {
  background-image: url("../img/image/footer_building.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #141327;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
footer a:link {
  font-weight: normal;
}
footer a:hover {
  color: #6ab7ff;
}
.footer-flex {
  display: flex;
  flex-wrap: wrap;
  height: 100px;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  justify-content: space-between;
}

.footer-link {
  display: flex;
  gap: 1rem;
}
.footer-copyrigth {
  color: #fff;
}

/* ##################################### */

.risk-management {
  background-image: url("../img/image/white_bg.jpg");
  /* filter: blur(2px); */
  /* -webkit-filter: blur(2px); */
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  /* position: relative; */

  /* width: 100%; */
  /* background-color: #cbff0d; */
}
.risk-title {
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  padding-top: 30px;
  text-shadow: 1px 1px 1px #808080;
}

.risk-management-flex {
  display: flex;
  /* width: 100%; */
}
.risk-management-left {
  /* position: absolute; */
  /* display: flex; */
  margin-left: 50px;
  width: 40%;
}
.my-btn {
  width: 100%;
}
.risk-management-right {
  margin-top: 16px;
  margin-left: 20px;
  width: 60%;
}
.risk-management-right-img {
  /* background-repeat: no-repeat; */

  display: block;
  /* justify-content: center;
  align-items: center; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 60%;
  height: auto;
}
.risk-management-right-img:hover {
  opacity: 0.5;
}
.margets {
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 30px;
  height: 500px;
  background-color: #ff0606;
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
  text-shadow: 1px 1px 2px #505050;
}
h2 {
  margin: 0;
}

.rChart {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

/* ###########################3 */
.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

.chart {
  position: absolute;
  height: 220px;
  justify-content: space-between;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}
.language {
  position: absolute;
  top: 10%;
  left: 85%;
  display: flex;
}
