<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Trade</title>
</head>

<body>

    <header id="header">
        <div class="mode">
            <div><a href="http://" target="_blank" rel="noopener noreferrer">NORMAL MODE</a></div>
            <div style="color: aliceblue;"> &nbsp; &nbsp;/&nbsp;&nbsp;</div>
            <div><a href="http://" target="_blank" rel="noopener noreferrer">EXPERT MODE</a></div>
        </div>
        <div class="top-title">
            <h1>GODZILLA TRADE STRATEGY</h1>
        </div>
        <!-- ###################start top menu###################### -->
        <div class="top-menu">
            <div class="top-link"><a href="http://" target="_blank" rel="noopener noreferrer">STRATEGY</a></div>
            <div class="top-link"><a href="http://" target="_blank" rel="noopener noreferrer">RISK MANAGEMENT</a></div>
            <div class="top-link"><a href="http://" target="_blank" rel="noopener noreferrer">MARKETS</a></div>
            <div class="top-link"><a href="http://" target="_blank" rel="noopener noreferrer">MENU2</a></div>
        </div>
        <!-- ###################end top menu###################### -->
    </header>
    <main>
        <div class="section-strategy">
            <div class="strategy-title">STRATEGYS</div>
            <!-- ###################start select box###################### -->
            <div class="strategy-select-box">
                <form action="#">
                    <div class="select-box">
                        <label for="select-box1" class="label select-box1"><span class="label-desc">Choose
                                strategy</span>
                        </label>
                        <select id="select-box1" class="select">
                            <option value="Choice 1">strategy 1</option>
                            <option value="Choice 2">strategy 2</option>
                            <option value="Choice 3">strategy 3</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
        <!-- ####################end select box##################### -->

        <!-- ####################strategy chart start##################### -->
        <div class="strategy-result">
            <div class="section-chart">
                <div class="chart-title">YOUR STRATEGY RESULT</div>
                <div class="chart-result"></div>
            </div>
        </div>
        <!-- ####################strategy chart end##################### -->
    </main>
    <footer>
        <div class="footer-flex">
            <div class="footer-link">
                <div class="footer-link"><a href="http://">Contuct</a></div>
                <div class="footer-link"><a href="http://">News</a></div>
                <div class="footer-link"><a href="http://">About</a></div>
            </div>
            <div class="footer-copyrigth">Copyright ©2021</div>
        </div>
    </footer>

</body>


</html>