<!-- 
    # 2021-10-10
    # FX,backtest シミュレーションシステム
    # Godzilla trade strategy 
    # team G
    # 卒業作品
    # TUMUR UILS
 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type=text/javascript src="/static/javaScript/app.js"></script>
    <!-- chartjsorg chart -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- tradingview chart -->
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <!-- google font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap" rel="stylesheet">
    <title>{{title}}</title>
    <!-- bootstrap auto show modal -->
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.js" type="text/javascript"></script>
</head>

<body>

    <header id="header">
        <div class="mode">
            <!-- <div><button type="button" id="normal" class="btn btn-outline-info"><a href="{{url_for('index')}}"
                        rel="noopener noreferrer" class="text-decoration-none text-light"> 通常用</a></button></div> -->
            <div> &nbsp; &nbsp;&nbsp;&nbsp;</div>

            <div> &nbsp;&nbsp;&nbsp;&nbsp;</div>

        </div>
        <div class="language">
            <div><button type="button" id="expert" class="btn btn-info text-decoration-none text-light"
                    data-bs-toggle="modal" data-bs-target="#myModalLogin">ログイン</button></div>
            <div> &nbsp; &nbsp; &nbsp;</div>
            <div id="language" onclick="changeLanguage(0)"><img src="/static/img/flag-united-states_1f1fa-1f1f8.png"
                    alt="EN" srcset="" style="height: 30px;"></div>
            <div> &nbsp; &nbsp;</div>
            <div id="language" style="color: aliceblue;" onclick="changeLanguage(1)"><img
                    src="/static/img/flag-japan_1f1ef-1f1f5.png" alt="JP" srcset="" style="height: 30px;"></div>
        </div>
        <div class="top-title">
            <h1 id="top-title" class="top-title-font display-3 fw-bold ">ゴジラ トレード ストラテジー</h1>
        </div>


        <!-- start top menu -->

        <div class="top-menu">
            <div id="top-menu0" onclick="topMenu(1)"><a href="{{ url_for('index') }}"
                    class="top-menu-style text-decoration-none" id="home">
                    ホーム</a></div> &nbsp;&nbsp;
            <div id="top-menu0" onclick="topMenu(1)"><a href="#strategy" class="top-menu-style text-decoration-none"
                    id="strategy-menu">
                    ストラテジー</a></div>&nbsp;
            <div id="top-menu1" onclick="topMenu(2)"><a href="#risk-management"
                    class="top-menu-style text-decoration-none" id="risk-manage"> リスク管理</a></div>&nbsp;&nbsp;
            <div id="top-menu2" onclick="topMenu(3)"><a href="#margets" class="top-menu-style text-decoration-none"
                    id="mrkt">マーケット</a>
            </div>
        </div>

        <!-- end top menu -->
    </header>
    <main>
        <div id="strategy" class="strategy">
            <div class="section-strategy ">

                <div class="strategy-title" id="titleStrategy">ストラテジー</div>
                <div class="d-flex p-3 ">
                    <div class="row-flex">
                        <!-- start select box -->
                        <div class="strategy-select-box">
                            <div class="container  mt-3 ">
                                <form action="{{url_for('normal_strategy_result')}}" method="post">
                                    <div class="mb-3">
                                        <label for="selectData" class=" form-label" id="selectDataText">データ選択</label>
                                        <select class="form-select" id="selectData" name="selectData">
                                            <option>EURUSD_D1</option>
                                            <option disabled>EURJPY_D1</option>
                                            <option disabled>EURJPY_H1</option>
                                        </select>

                                        <label for="selectStrategy" class=" form-label"
                                            id="selectStrategy">ストラテジー選択</label>
                                        <select class="form-select" id="selectStrategy" name="selectStrategy">
                                            <option>DojiSRSI</option>
                                            <option disabled>FxMA_Crossover</option>
                                        </select>

                                        <button id="btn" type="submit" class="btn btn-success mt-3 my-btn"
                                            onclick="selectData(); result_data()">
                                            <Submit href="#strategy">Submit</a>
                                        </button>
                                        <br>
                                        <br>
                                        <!-- test -->
                                        <script>
                                            function selectData() {
                                                var x = document.getElementById("selectData").selectedIndex;
                                                alert(x);
                                            }
                                        </script>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- end select box -->
                    <div class="strategy-image">
                        <img class="img-pos" src="/static/img/image/shinzo.png" width="80%" height="auto" alt=""
                            srcset="">
                        <p id="strategy-text" class="strategy-text">貿易戦略を楽しむ</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- strategy chart start -->
        <div id="section-chart" class="section-chart">
            <div class=" chart-title">ストラテジー結果</div>
            <div class="chart-result">
                <!-- <div id="chart" class="rChart"></div> -->
                <!-- show chart and result  -->
                <script>
                    const rFileUrl = "static/json/show_result_data.json";
                    async function result_data() {
                        const response = await fetch(rFileUrl);
                        const rData = await response.json();
                        var resultData = rData;
                        console.log(resultData[0]);
                        if (resultData[0] === 1) {
                            document.getElementById("section-chart").style.display = "block";
                        } else {
                            document.getElementById("section-chart").style.display = "none";
                        }
                    }
                    result_data();
                </script>

            </div>
            <!-- <iframe width="100%" height="900px" src="http://127.0.0.1:5550/strategy" title="Chart"></iframe> -->
            <div class="chart">
                <div id="chart" class="rChart"></div>

                <!-- strategy result start -->
                <!-- {% if check %} -->
                <div id="sResult" class="sResult">
                    <p>Starting Portfolio Value: {{setCash}}</p>
                    <div class="strategeResultFlexTitle">
                        <div class="item">Total Open</div>
                        <div class="item">Total Closed</div>
                        <div class="item">Total Won</div>
                        <div class="item">Total Lost</div>
                    </div>
                    <div class="strategeResultFlex">
                        {%for i in range(0, 4)%}
                        <div class="item">{{finalResult[0][i]}}</div>
                        {%endfor%}
                    </div>
                    <div class="strategeResultFlexTitle">
                        <div class="item">Strike Rate</div>
                        <div class="item">Win Streak</div>
                        <div class="item">Losing Streak</div>
                        <div class="item">PnL Net</div>
                    </div>
                    <div class="strategeResultFlex">
                        {%for i in range(0, 4)%}
                        <div class="item">{{finalResult[1][i]}}</div>
                        {%endfor%}
                    </div>
                    <p style="margin-top: 20px;">Final Portfolio Value: {{'%.2f'%finalValue}}</p>
                    <p>Final Portfolio Cash : {{'%.2f'%finalCash}}</p>
                </div>
                <!-- {% endif %} -->
                <!-- strategy result end -->
            </div>
        </div>
        <!-- strategy chart end -->
        </div>

        <!-- RISK MANAGEMENT START  -->
        <div id="risk-management" class="risk-management">
            <div>
                <h2 class="risk-title">リスク管理</h2>
            </div>
            <div id="risk-management-flex" class="risk-management-flex">
                <div class="risk-management-left">
                    <!-- start insert value -->
                    <div class="container  mt-3 ">
                        <h5>INSERT VALUE</h5>
                        <form action="{{url_for('riskmanagement')}}" method="post">
                            <div class="mb-3">
                                <label for="initialCash" class="form-label  ">Initial
                                    cash:</label>
                                <input class="form-control" id="initialCash" name="initialCash"
                                    aria-describedby="initialCash" value="1000">
                                <div id="initialCash" class="form-text">Recommendation range 100-10000 $.</div>
                            </div>
                            <div class="mb-3">
                                <label for="tradesRequired" class=" form-label">Trades required:</label>
                                <select class="form-select" id="tradesRequired" name="tradesRequired">
                                    <option>100</option>
                                    <option>200</option>
                                    <option>400</option>
                                    <option>500</option>
                                    <option>1000</option>
                                    <option>2000</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="riskPerTrade" class=" form-label">Risk per Trade:</label>
                                <input class="form-control" id="riskPerTrade" name="riskPerTrade"
                                    aria-describedby="riskPerTrade" value="1">
                                <div id="riskPerTrade" class="form-text">Recommendation range 1-5%. 1/100 = 1% Risk
                                    per
                                    Trade
                                </div>
                            </div>

                            <div class=" mb-3">
                                <label for="profitRatio" class=" form-label">Profit Ratio: </label>
                                <input class="form-control" id="profitRatio" name="profitRatio"
                                    aria-describedby="profitRatio" value="1">
                                <div id="winRatio" class="form-text">2 = 2:1 Profit Loss Ratio</div>
                            </div>

                            <div class=" mb-3">
                                <label for="winRatio" class=" form-label">Win Ratio(%): </label>
                                <input class="form-control" id="winRatio" name="winRatio" aria-describedby="winRatio"
                                    value="50">
                                <div id="winRatio" class="form-text">Recommendation range 40 - 60%. Percentage. Win
                                    Ratio, 50 = 50% win rate</div>
                            </div>
                            <div class="mb-3">
                                <label for="dataRequired" class=" form-label">Data required:</label>
                                <select class="form-select" id="dataRequired" name="dataRequired">
                                    <option>1</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-success mt-3 my-btn">Submit</button>
                            <br>
                            <br>
                        </form>
                    </div>
                    <!-- end insert value -->
                </div>
                <div id="risk-management-right" class="risk-management-right">
                    <div><img src="../static/img/image/risk-management.png" alt="" srcset=""
                            class="risk-management-right-img"></div>
                </div>
            </div>
        </div>
        <!--  RISK MANAGEMENT END  -->

        <!--  margets start  -->
        <div id="margets" class="margets">
            <div>
                <h2>マーケット</h2>
                {{c}}
                <button type="submit" onclick="coino(a)">COIN</button>
            </div>
        </div>
        <!--  margets end  -->
    </main>
    <!-- login start modal -->
    <!-- The Modal -->
    <div class="modal" id="myModalLogin">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">ログイン</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="{{url_for('result')}}" method="post">
                        <div class=" mb-3">
                            <label for="email" class="form-label">メール:</label>ecc@ecc.com
                            <input class="form-control" type="email" id="email" name="email" placeholder="email"
                                value="{{email}}">
                        </div>
                        <div class=" mb-3">
                            <label for="pass" class="form-label">パスワード:</label>111222
                            <input class="form-control" type="password" id="pass" name="pass" placeholder="password">
                        </div>
                        <div class="form-check mb-3">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" name="remember"> Remember me
                            </label>
                        </div>
                        <button type="button" class=" btn btn-primary mt-3" data-bs-toggle="modal"
                            data-bs-target="#myModalSignUp">登録</button>
                        <button type="submit" class=" btn btn-success mt-3" onclick="value()">送信</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- login end -->

    <!-- sign up start  -->
    <!-- The Modal -->
    <div class="modal" id="myModalSignUp">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">登録</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <form action="{{url_for('register')}}" method="post">
                        <div class=" mb-3">
                            <label for="name" class="form-label">ユーザー名:</label>
                            <input class="form-control" type="name" id="name" name="name" placeholder="name">
                        </div>
                        <div class=" mb-3">
                            <label for="email" class="form-label">メール:</label>
                            <input class="form-control" type="email" id="email" name="email" placeholder="email">
                        </div>
                        <div class=" mb-3">
                            <label for="pass" class="form-label">パスワード:</label>
                            <input class="form-control" type="password" id="pass" name="pass" placeholder="password">
                        </div>
                        <button type="button" class=" btn btn-primary mt-3" data-bs-toggle="modal"
                            data-bs-target="#myModalLogin">ログイン</button>
                        <button type="submit" class=" btn btn-success mt-3">送信</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- sign up end -->

    <!-- login unsuccessful start-->
    {% if unsuccessful %}
    <script type="text/javascript">
        $(window).load(function () {
            $('#myModalUnSuccessful').modal('show');
        });
    </script>
    <!-- The Modal -->
    <div class="modal" id="myModalUnSuccessful">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">ログイン失敗</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="alert alert-danger alert-dismissible">
                        {{unsuccessful}}
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class=" btn btn-primary mt-3" data-bs-toggle="modal"
                        data-bs-target="#myModalLogin">ログイン</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- login unseccessful end -->
    <!-- login successful start-->
    {% if ssuccessful %}
    <script type="text/javascript">
        $(window).load(function () {
            $('#myModalSuccessful').modal('show');
        });
    </script>
    <!-- The Modal -->
    <div class="modal" id="myModalSuccessful">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">登録完了</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="alert alert-success alert-dismissible">
                        {{ssuccessful}}
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class=" btn btn-primary mt-3" data-bs-toggle="modal"
                        data-bs-target="#myModalLogin">ログイン</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <!-- login seccessful end -->
    <footer>
        <div class="footer-flex">
            <div class="footer-link">
                <div class="footer-link"><a onclick="myModal" class="text-decoration-none text-light "
                        data-bs-toggle="modal" data-bs-target="#myModal">連絡先</a></div>
                <div class="modal" id="myModal">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title">連絡先</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- 模态框内容 -->
                            <div class="modal-body">
                                <p>作者：2200456@ecc.ac.jp</p>
                                <p>メールの形式で送ってください。</p>
                            </div>

                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">閉じる</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="footer-link"><a onclick="myModal1" class="text-decoration-none text-light "
                        data-bs-toggle="modal" data-bs-target="#myModal1">ニュース</a></div>
                <div class="modal" id="myModal1">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title">ニュース</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- 模态框内容 -->
                            <div class="modal-body">
                                新しいニュースがございません!
                            </div>

                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">閉じる</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="footer-link"><a onclick="myModal2" class="text-decoration-none text-light"
                        data-bs-toggle="modal" data-bs-target="#myModal2">チーム情報</a></div>
                <div class="modal" id="myModal2">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <!-- 模态框头部 -->
                            <div class="modal-header">
                                <h4 class="modal-title">チーム情報</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- 模态框内容 -->
                            <div class="modal-body">
                                　<p>チーム：Godzilla</p>
                                <p>制作者:ワンカンショウ,エドワードオーウェン,トゥムルウイルス</p>
                                <p>使用言語:Python,javaScript,bootstrap5,CSS,Flask</p>
                                <p>制作内容:FXのシミレーションするプログラミング</p>
                            </div>

                            <!-- 模态框底部 -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">閉じる</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-copyrigth">Copyright ©2021</div>
        </div>
    </footer>
    <script src="/static/javaScript/chart.js"></script>
</body>

</html>