<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/risk.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    <title>Document</title>
</head>
<script>
    var a = { "coin": { "name": "JPY=X", "value": [113.2600021362, 113.8759994507, 112.9599990845, 113.4270019531, 113.4270019531, 0.0] } }
    console.log(a.coin.name);
</script>


<body>
    <br>

</body>

<!-- <script src="/static/javaScript/chartjsorg.js"></script> -->

</html>