<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>trade</title>
</head>

<body>

    <h2>Trade chart</h2>
    <div id="chart"></div>
    <div id="chartPosition">
        <!-- <div id="chart1"></div>
        <div id="chart2"></div>
        <div id="chart3"></div> -->
    </div>
    <div>
        <form action="/post" method="post">
            <div class="risk-manage-labels">
                <label for="initialCash" class="risk-manage-labels-left">Initial cash: </label>
                <input type="text" id="initialCash" name="initialCash" placeholder="">
            </div>
            <br>
            <div class="risk-manage-labels">
                <label for="tradesRequired" class="risk-manage-labels-left">Trades required: </label>
                <input type="text" id="tradesRequired" name="tradesRequired" placeholder="">
            </div>
            <br>
            <div class="risk-manage-labels">
                <label for="riskperTrade" class="risk-manage-labels-left">Risk per Trade: </label>
                <input type="text" id="riskperTrade" name="riskperTrade" placeholder="">
            </div>
            <br>
            <div class="risk-manage-labels">
                <label for="profitRatio" class="risk-manage-labels-left">Profit Ratio: </label>
                <input type="text" id="profitRatio" name="profitRatio" placeholder="">
            </div>
            <br>
            <div class="risk-manage-labels">
                <label for="winRatio" class="risk-manage-labels-left">Win Ratio(%): </label>
                <input type="text" id="winRatio" name="winRatio" placeholder="">
            </div>
            <br>

            <button type="button">send</button>
        </form>
        <p>Cash = {{EdgeStudy.aaa}}</p>



        <script type=text/javascript src="{{url_for('static', filename='/js/chart.js') }}"></script>
        <script type=text/javascript src="static/js/chart_a.js"></script>
    </div>

    <div><canvas id="myChart"></canvas></div>
    <script src="/static/js/app.js"></script>
</body>

</html>