<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>EXAMPLE</title>
    <script src="/static//javaScript/coin.js"></script>

</head>

<body>

    <div id="myData"></div>
    <!-- <script>

        fetch('/static/b.json')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var mainContainer = document.getElementById("myData");
            var div = document.createElement("div");
            if (data.name === "JPY=X") {
                data.name = "USD/JPY"
            }
            div.innerHTML = 'Symbol: ' + data.name + ' <br> ' + ' Value: ' + data.value[4];
            mainContainer.appendChild(div);
        }
    </script> -->
    <style>
        #market {
            display: flex;
            width: 200px;
            justify-content: space-between;
        }

        span {
            text-align: left;
        }
    </style>
    <div id="market">
        <span>SYMBOL</span>
        <div id="symbol"> </div>
    </div>
    <div id="market">
        <span>VALUE</span>
        <div id="value"></div>
    </div>
</body>

</html>